.liquid-ether-container {
 position: fixed;      
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  touch-action: none;
  z-index: -1; 
  opacity: 0.8;
  pointer-events: none;
}
