.timeline-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

/* Ligne verticale animée */
.timeline-line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1.5px;
  background: linear-gradient(to bottom, #22D3EE, #6081fa, #844ee9);
  animation: growLine 1.5s forwards;
}

/* Keyframes pour animer seulement la ligne */
@keyframes moveLine {
  0% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}
@keyframes growLine {
  from { height: 0; }
  to { height: 100%; }
}


.timeline-item::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #3b82f6;
  border-radius: 50%;
}

/* Contenu des items */
.timeline-content {
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 8px;
  margin: 20px 10px;
  width: 80%; 
}
 

.timeline-title1 {
    font-size: 20px;
font-weight: normal;
    color: #6598df;
    
}

.timeline-title {
  color: #22D3EE;
  font-size: 20px;
font-weight: normal;
}

.timeline-desc {
  color: #bebebe;
  font-size: 17px;
  word-spacing: 0.3rem;      /* espace entre les mots */
  letter-spacing: 0.9px; 
  
}

.timeline-date {
  position: absolute;
  left: -140px;
  top: 0;
  margin-top: 10px;
  font-size: 0.9em;
  color: #6598df;
  font-size: 20px;
   line-height: 2px;
}

.timeline-date-intern {
  position: absolute;
  left: -170px;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 0.9em;
  color: #6598df;
  font-size: 20px;
   line-height: 2px;
}

.timeline-item {
 margin : 20px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.timeline-item.active {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item.active .timeline-content {
  transform: scale(1);
  transition: all 0.5s ease-out;
}


@media (max-width: 1000px) {
  .timeline-date,
  .timeline-date-intern {
    position: static;
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 25px;
    text-align: left;
  }
}


@media (max-width: 768px) {
  .timeline-container {
    width: 90%;
  }
  .timeline-content {
    width: 100%;
    padding: 10px 15px;
  }
  .timeline-date,
  .timeline-date-intern {
    font-size: 18px;
     padding: 25px;
  }
}


@media (max-width: 480px) {
  .timeline-container {
    width: 95%;
    padding: 30px 0;
  }
  .timeline-date,
  .timeline-date-intern {
    font-size: 16px;
    margin-bottom: 5px;
     padding: 25px;
  }
  .timeline-content {
    padding: 10px 15px;
  }
}


@media (max-width: 360px) {
  .timeline-date,
  .timeline-date-intern {
    font-size: 17px;
    margin-bottom: 3px;
    padding: 20px;
  }
  .timeline-content {
    padding: 8px 12px;
  }
}


@media (max-height: 500px) and (orientation: landscape) {
  .timeline-container {
    padding: 20px 0;
  }
  .timeline-date,
  .timeline-date-intern {
    font-size: 14px;
    margin-bottom: 2px;
    padding: 25px;
  }
  .timeline-content {
    padding: 5px 10px;
  }
}
