.wrapper {
 display: flex;
  margin-top: -120px;
  justify-content: center;
  align-items: center;
   font-size: 2rem; 
 
}
.startBtn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}

.startBtn:hover {
  background-color: #007BFF;
  color: #050801;
  box-shadow: 0 0 5px #007BFF,
              0 0 25px #007BFF,
              0 0 50px #007BFF,
              0 0 300px #007BFF;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.startBtn span {
  position: absolute;
  display: block;
}

/* Ligne en haut */
.startBtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #007BFF);
  animation: animate1 1s linear infinite;
}

/* Ligne à droite */
.startBtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #007BFF);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

/* Ligne en bas */
.startBtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #007BFF);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

/* Ligne à gauche */
.startBtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #007BFF);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

/* Keyframes */
@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

  @media (max-width: 1200px) {
     .wrapper {
       align-self: center;
      
        margin-top: 16px; /* Added to create space between writer and button */
      
     }
  
    
     .startBtn {
      position: relative;
      display: inline-block;
      padding: 15px 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      font-size: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.5s;
      overflow: hidden;
      z-index: 1;
      margin-top: 20px;
    }
  }